.contenedor{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;

    background-color: rgb(115, 218, 253);

}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido_formulario{

    position: relative; 
 
    margin-top: 80px;
    margin-bottom: 80px;  
 
    width: 800px;
    height: 500px; 
    max-height: auto;
 
    background-color: white;
 
    border-radius: 8px;
 
    display: flex;
    align-items: center;
    flex-direction: column;

    animation: zoomInDown;
    animation-duration: 1.2s;


}

.formulario_cargando{

    position: relative; 
 
    margin-top: 80px;
    margin-bottom: 80px;  
 
    width: 800px;
    height: 500px; 
    max-height: auto;
 
    background-color: white;
 
    border-radius: 8px;
 
    display: flex;
    align-items: center;
    flex-direction: column;

}

/*Encabezado recuperar contraseña*/
.encabezado_recuperar_password{

    position: relative;

    margin-top: 20px;

    background-color: #dcdcdb;

    font-family: 'Poppins', sans-serif;

    font-size: 35px;

    border-radius: 8px;

    padding: 25px;

}

.encabezado_recuperar_password::before{

    content: "";

    position: absolute;

    width: 85px;
    height: 85px;

    left: -55px;
    top: -20px;

    border-radius: 50%;

    background-color: #ecece9;

    font-family: 'Poppins', sans-serif;

    font-size: 35px;


}

.encabezado_recuperar_password::after{

    content: "";

    position: absolute;

    width: 0;
    height: 0;
    border-left: 35px solid transparent; 
    border-right: 35px solid transparent; 
    border-bottom: 70px solid #eaeae7;

    right: -35px;
    top: 15px;

    border-radius: 8px;

  
    font-family: 'Poppins', sans-serif;

    font-size: 35px;


}

/*Fin encabezado recuperar contraseña*/


form{

    margin-top: 20px;

}

/*Texto informativo*/
.texto_informativo{

    position: relative;

    margin-bottom: 30px;


    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    border-radius: 8px;

    background-color: rgb(235, 234, 234);

    font-family: 'Poppins', sans-serif;

    font-size: 20px;

}


.texto_informativo::before{

    position: absolute;

    content: "";

    width: 50px;
    height: 50px;

    right: 0;
    top: -25px;

    border-radius: 8px;

    background: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);

}



.texto_informativo::after{

    position: absolute;

    content: "";

    width: 50px;
    height: 50px;

    left: 0;
    bottom: -25px;

    border-radius: 50%;

    background: linear-gradient(117.5deg, rgb(89, 233, 162) 20.5%, rgb(29, 209, 185) 100.2%);

}


/*Fin texto informativo*/


.inputs_contenedores{

    width: 450px;



}

.inputs_contenedores input {

    border: gray solid .8px;

}

.icono_ver_password{

    border: gray solid .8px;
    cursor: pointer;


}

.mensaje_error{

    background: radial-gradient(circle at 10% 20%, rgb(226, 37, 37) 0%, rgb(211, 49, 49) 82.8%);

    border-radius: 8px;

    padding-left: 20px;

    color: white;
    font-size: 18px;

    /*Animación*/
    animation: jackInTheBox;
    animation-duration: .8s;

}

/*Botón recuperar contraseña*/
.boton_recuperar_password{

    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: ease all 1s ;

    position: relative;

    border: none;
    outline: none;
    

}

.boton_recuperar_password:hover {

    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    width: 55%;

    transition: ease all 1s ;
}

.boton_recuperar_password:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.boton_recuperar_password-color {

    background: radial-gradient(circle at 10% 20%, rgb(7, 121, 222) 0%, rgb(20, 72, 140) 90%);
    
    color: white;
}

.boton_recuperar_password::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: ease all 1s ;
}

.boton_recuperar_password::after {

    background: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
}

.boton_recuperar_password:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/*Fin botón recuperar contraseña*/