<!--Contenedor-->
<section class = "contenedor">


    <!--Formulario recuperar contraseña-->
    <div class = "contenido_formulario"
    *ngIf = "!cargando"
    >


        
        
        
        <!--Encabezado de recuperar la contraseña-->
        <p class = "encabezado_recuperar_password">
            Recuperar contraseña
        </p> 

        <!--Contenedor formulario email y colocar nueva contraseña-->  
        <form [formGroup] = "recuperar_password">

            <!--Texto informativo para que el usuario entienda que debe escribir su correo para recuperar
            su contraseña
            -->
            <p class = "texto_informativo">

                Ingrese el correo del usuario

            </p>

            <!--Input Email-->
            <div class="form-floating mb-3 inputs_contenedores"
            *ngIf = "pedir_email"
            >

              <input type = "email" class="form-control" placeholder = "Correo del usuario"
              formControlName = "email"

              (input) = "validar_formato_email_password(true)"
              (blur) = "validar_formato_email_password(true)"
              >
              <label for="floatingInput">Correo del usuario</label>

            

            </div>
            <!--Fin Input Email-->
            
            <!--Mensaje de error Email-->
            <p
            class = "mensaje_error"
            *ngIf = "formulario_correo_password.correo.error && pedir_email">

                {{formulario_correo_password.correo.mensaje_error}}

            </p>
            <!--Fin Mensaje de error Email-->

            <!--Input nueva contraseña-->
            <div class="input-group mb-3 inputs_contenedores"
            *ngIf = "!pedir_email"
            >

                
                <!--Input contraseña-->
                <div class="form-floating">
  
                  <input type="password" class="form-control"  
                  placeholder="Nueva contraseña"
                  [type] = "password_input"
                  
                  formControlName = "password"

                  (input) = "validar_formato_email_password(true)"
                  (blur) = "validar_formato_email_password(true)"  


                  >
  
                  <label for="floatingInputGroup1">Nueva contraseña</label>
  
                
  
                </div>
  
                <!--Icono mostrar u ocultar contraseña-->
                <span class="input-group-text icono_ver_password"
                (click) = "ver_password()"
                >
  
                  <!--Icono ocultar contraseña-->
                  <i class="fa-solid fa-eye-slash"
                  *ngIf = "password_input == 'password'"
                  >
  
                  </i>
  
                  <!--Icono mostrar contraseña-->
                  <i class="fa-solid fa-eye"
                  *ngIf = "password_input == 'text'"
                  >
  
                  </i>
  
                  
  
                </span>

                
  
            </div>

            <!--Mensaje de algún error en la contraseña-->
            <p
            class = "mensaje_error"
            *ngIf = "formulario_correo_password.password.error && !pedir_email">

                {{formulario_correo_password.password.mensaje_error}}

            </p>
            <!--Fin Input nueva contraseña-->

        </form>
        <!--Fin contenedor formulario email y colocar nueva contraseña--> 

        <!--Botón recuperar contraseña-->
        <button class="boton_recuperar_password boton_recuperar_password-color "
        *ngIf = "pedir_email"
        (click) = "enviar_codigo_recuperacion()"
        >

          Enviar código

        </button>

        <!--Botón crear nueva contraseña-->
        <button class="boton_recuperar_password boton_recuperar_password-color "
        *ngIf = "!pedir_email"
        (click) = "cambiar_password()"
        >

          Crear nueva contraseña

        </button>

        

        
    </div>
    <!--Fin Formulario recuperar contraseña-->

    <!--Animación carga-->
    <div class = "formulario_cargando centrar"
    *ngIf = "cargando"
    >

      
      <app-animacion-cargando>

      </app-animacion-cargando>
      
    </div>
    <!--Fin Animación carga-->
    

</section>
